agentspirit
agentspirit-mpi
test

.depend

src/test.o
src/term.o
src/main.o
src/main-mpi.o
src/main-cow.o
src/unification.o
src/printer.o
src/runtime/environment.o
src/runtime/interpreter.o

*.swp
*.swo
